/* Your CSS here */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #faf7db;
    background: url(city.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header #currentStatus, #temp {
    justify-content: flex-end;
}

#topLeft {
    display: flex;
    flex-direction: row;
}
#topRight {
    display: flex;
    flex-direction: row;
}

#todaysDate {
    font-size: 2rem;
    background-color:#c17d8a;
    color: #593f4a;
    width: 90px;
    padding: 3px 5px;
    margin-top:25px;
    margin-left: 15px;
    border: 8px solid #875f6a;
}
#currentTime {
    font-size: 8rem;
    font-weight: bold;
    margin-top: 250px;
    display: flex;
    flex-direction: row;
}

#spellOutDate {
    font-size: 2rem;
    font-weight: 100;
    color:#878680;
    margin-top: 35px;
    margin-left: 15px;
}

.clock {
    width: 100%;
    display:flex;
    flex-direction: column;
    background-color: rgba(0,0,0, 0.3);

    margin:0;
    padding: 0;
}

#temp {
    font-size: 2rem;
    background-color: #c17d8a;
    color: #593f4a;
    width: 90px;
    padding: 3px 5px;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    border: 8px solid #875f6a;
}

#currentStatus {
    font-size: 2rem;
    font-weight: 100;
    color: #878680;
    margin-top: 35px;
    margin-left: 5rem;
}

#authors {
    display: flex;
    list-style:none;
    flex-wrap: wrap;
    align-items: flex-start;
    /* flex-direction: row; */
    justify-content: center;
    flex-basis: 80%;
}

#authors img {
    border-radius: 50%;
}

#authors span {


}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    left: 30%;
    bottom: 0;
    padding-bottom: 40px;
}

#stockQuote {
    font-size: 2rem;
    background-color: #c17d8a;
    color: #593f4a;
    width: 200px;
    padding: 3px 5px;
    margin-top: 25px;
    margin-left: 15px;
    border: 8px solid #875f6a;
}